<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="/styles/style1.css">
</head>
<body>

<!-- Шапка сайта -->
<header>
    <div class="header-line"></div>
    <nav>
        <a href="/">Главная</a>
        <a href="/#social-networks">Социальные сети</a>
        <a href="/#donation-form">Донат</a>
        <a href="/faq" class="active">FAQ</a>

    </nav>
    <div class="header-line"></div>
</header>

<!-- Основное содержимое страницы FAQ -->
<main class="faq-container">
    <h1>Часто задаваемые вопросы</h1>
    <section class="faq-block">
        <h2>Как сделать пожертвование?</h2>
        <p>Чтобы сделать пожертвование, перейдите на страницу доната, выберите сумму и способ оплаты, и следуйте инструкциям.</p>
    </section>
    <section class="faq-block">
        <h2>Что такое CampoCoins?</h2>
        <p>CampoCoins - это внутриигровая валюта, которую можно использовать для покупки игровых предметов и улучшений.</p>
    </section>
    <section class="faq-block">
        <h2>Как присоединиться к империи?</h2>
        <p>Чтобы присоединиться к империи, свяжитесь с лидером или найдите приглашение в игровом чате.</p>
    </section>
    <section class="faq-block">
        <h2>Как повысить уровень?</h2>
        <p>Вы можете повышать уровень, выполняя квесты, участвуя в событиях и зарабатывая опыт.</p>
    </section>
    <section class="faq-block">
        <h2>Как получить дополнительные CampoCoins?</h2>
        <p>CampoCoins можно заработать, выполняя задания или купив их за реальные деньги.</p>
    </section>
    <section class="faq-block">
        <h2>Какие возможности есть у участников империи?</h2>
        <p>Члены империи могут участвовать в войнах, торгах, получать специальные награды и доступ к эксклюзивным функциям.</p>
    </section>
</main>

</body>
</html>